ul{
    list-style: none;
}
.container{
    width: 680px;
    height: 344px;
    margin:50px auto;
    position: relative;
}
.tab{
    position: absolute;
    right: 10px;
    bottom:10px;
}
.tab li{
    float: left;
    width: 20px;
    height: 20px;
    background: #000;
    color:#fff;
    margin-right:5px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
.tab li.selected{
    background: orange;
}
.tab li.circle{
    border-radius: 50%;
}
.arrow{
    position: absolute;

    bottom:10px;
}
.arrow.center{
    width: 100%;
    top:50%;
    margin-top: -10px;
    bottom:auto;
    left: auto;
}
.arrow.center .prev{
    float: left;
}
.arrow.center .next{
    float: right;
}
.arrow.center span{
    margin-right: 0;
}
.arrow span{
    width: 20px;
    height:20px;
    float: left;
    background: #000;
    color:#fff;
    margin-right: 5px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
.content img{
    display: none;
}
.content img.selected{
    display: block;
}